extends main

block content
  br
  div(class='errorMessage')= errorMessage
  h1.pagetitle= title
  br
  .container.col-md-4.col-md-offset-4.shadow.p-3.mb-5.bg-white.rounded
    h4 Username: #{username}
    h4 Email: #{email}
    h4 Your Classes: [Put dropdown list here]
    
