extends main

block content
  br
  if (errorMessage)
    div.container.col-md-6.col-md-offset-4.shadow.p-3.mb-5.bg-white.rounded(class='errorMessage')= errorMessage
  h1.pagetitle= title
  br
  .container.col-md-6.col-md-offset-4.shadow.p-3.mb-5.bg-white.rounded
