extends main

block content
  append head 
    script(language='JavaScript' type='text/javascript' src='/scripts/attendance.js')
    br
    if (errorMessage)
      div.container.col-md-6.col-md-offset-4.shadow.p-3.mb-5.bg-white.rounded(class='errorMessage')= errorMessage
    h1.pagetitle= title
    br
    .container.col-md-6.col-md-offset-4.shadow.p-3.mb-5.bg-white.rounded
      p Create a class on the <a href="/account#CreateClass">settings page</a>.
      label(for="users-classes") Select a Class:
      select(class="form-control" id="users-classes")
        option.disabled.selected.value(id="disabled-option-class" style="display: none;") -- select a class --
        if (courseName)
          each course in courseName
            option= course
      div(id="previous-sheets-div" style="display: none;")
        hr
        label(for="previous-sheets") View Previous Attendance Sheets:
        select(class="form-control" id="previous-sheets" name="previous-sheets")
          option.disabled.selected.value(id="disabled-option-prev" style="display: none;") -- select an attendance sheet --
          if (dateList)
            each date in dateList
              option= date
        hr
      div(id="enter-date-div" style="display: none;")
        b Create New Sheet
        br
        label(for="enter-attend-date") Enter Date:
        input.form-control(type='date' name='enter-attend-date' id="enter-attend-date")
        br
        a.btn.btn-success.text-white.ml-1.float-right.disabled(aria-label="Right Align" id="new-sheet-btn") New Attendance Sheet 
          i.fa.fa-plus(aria-hidden="true")
      br
      br
    //- Attendance Sheet
    .container(id="attendance-sheet" style="display: none;")
      div.stage.shadow
        table.table(id="attendance-table")
          thead.thead-dark
            tr
              th Attendance Sheet for:
              th(colspan='3' id="current-date")
              th(id="sheetsClassName")
          tbody(id="sheet-body")

        button.btn.btn-danger.text-white.ml-1.float-right(aria-label="Right Align" data-toggle="modal" data-target="#delete-modal" id="delete-sheet-btn" onclick="showDeleteSheetMessage()") Delete Sheet 
          i.fa.fa-trash(aria-hidden="true")
        button.btn.btn-success.text-white.ml-1.float-right(aria-label="Right Align" id="save-sheet-btn" data-toggle="modal" data-target="#saved-modal" onclick="saveSheet();") Save Sheet 
          i.fa.fa-save(aria-hidden="true")
  br
  br

  //- Sheet already exists modal
  .modal.fade(tabindex='-1' role='dialog' id="error-existing-sheet-modal")
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title No new attendance sheet created...
          button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
        .modal-body
          p An attendance sheet for that date already exists for this class.
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close

  //- Delete Sheet Modal
  .modal.fade(tabindex='-2' role='dialog' id="delete-modal")
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Delete Selected Attendance Sheet?
          button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
        .modal-body
          p(id="delete-sheet-message")
        .modal-footer
          button.btn.btn-danger(type='button' data-dismiss='modal' id="confirm-delete-class-btn" onclick="deleteSheet();") Delete
          button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel

  //- Saved Sheet Modal
  .modal.fade(tabindex='-3' role='dialog' id="saved-modal")
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title(id="saved-sheet-message")
          button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close