extends main

block content
  append head 
    script(language='JavaScript' type='text/javascript' src='/scripts/attendance.js')
    br
    if (errorMessage)
      div.container.col-md-6.col-md-offset-4.shadow.p-3.mb-5.bg-white.rounded(class='errorMessage')= errorMessage
    h1.pagetitle= title
    br
    .container.col-md-6.col-md-offset-4.shadow.p-3.mb-5.bg-white.rounded
      p Create a class on the <a href="/account#CreateClass">settings page</a>.
      label(for="users-classes") Select a Class:
      select(class="form-control" id="users-classes")
        option.disabled.selected.value(id="disabled-option-class" style="display: none;") -- select a class --
        if (courseName)
          each course in courseName
            option= course
      br
      label(for="previous-sheets") Previous Attendance Sheets
      select(class="form-control" id="previous-sheets")
        option.disabled.selected.value(id="disabled-option-prev" style="display: none;") -- select an attendance sheet --
      br
      label(for="enter-attend-date") Enter Today's Date:
      input.form-control(type='date',name='enter-attend-date',id="enter-attend-date")
      br
      a.btn.btn-success.text-white.ml-1.float-right.disabled(aria-label="Right Align" id="new-sheet-btn") New Attendance Sheet 
        i.fa.fa-plus(aria-hidden="true")
      br
      br
    // Attendance Sheet
    .container(id="attendance-sheet" style="display: none;")
      div.stage.shadow
        table.table(id="attendance-table")
          thead.thead-dark
            tr
              th Attendance Sheet for:
              th(colspan='3', id="current-date")
          tbody
            tr
              td Jim
              td
                button.btn.btn-secondary.text-white(id="pres1", onclick="setAttendance(this.id)") Present
              td
                button.btn.btn-secondary.text-white(id="abse1", onclick="setAttendance(this.id)") Absent
              td
                button.btn.btn-secondary.text-white(id="late1", onclick="setAttendance(this.id)") Late
            tr
              td Steve
              td
                button.btn.btn-secondary.text-white(id="pres2", onclick="setAttendance(this.id)") Present
              td
                button.btn.btn-secondary.text-white(id="abse2", onclick="setAttendance(this.id)") Absent
              td
                button.btn.btn-secondary.text-white(id="late2", onclick="setAttendance(this.id)") Late
        a.btn.btn-success.text-white.ml-1.float-right(aria-label="Right Align" id="save-btn") Save 
          i.fas.fa-save(aria-hidden="true")    
            
