extends main
block content
  append head
    link(rel="stylesheet" type='text/css' href='/css/home.css')
  br
  h1.pagetitle= title
  br
  .container.col-md-6.col-md-offset-4.shadow.p-3.mb-5.bg-white.rounded
    h6.description= description
    if (!username || (username === ''))
      p <a href="/register">Register</a> or <a href="/login">Login</a> to teach simplier.
      a(href="/")
        img.zoomer.img-fluid.mx-auto.d-block(src='/images/Logo.png' alt='Home Page' style="width: 10rem;")
    else 
      // - Display features
      p You are logged in as <i>#{username}</i>.
      .row
        .col-lg-4
          a(href="/myclasses")
            img.zoomer.img-fluid(src='/images/home/MyClasses.png' alt='My Classes')
        .col-lg-4
          a(href="/groupMaker")
            img.zoomer.img-fluid(src='/images/home/groupmaker.png' alt='Group Maker')
        .col-lg-4
          a(href="/attendance")
            img.zoomer.img-fluid(src='/images/home/attendance.png' alt='Attendance')
        .col-lg-4
          a(href="/whiteboard")
            img.zoomer.img-fluid(src='/images/home/whiteboard.png' alt='Whiteboard')
        .col-lg-4
          a(href="/grades")
            img.zoomer.img-fluid(src='/images/home/gradetracker.png' alt='Grade Tracker')
        .col-lg-4
          a(href="/performance")
            img.zoomer.img-fluid(src='/images/home/performancetracker.png' alt='Performance Tracker')
