extends main

block content
  append head
    script(language='JavaScript' type='text/javascript' src='/scripts/performance.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.min.js')
    style(type="text/css").
      /* Quick inline d3 chart styles */
      .line { fill: none; stroke: #0077CA; stroke-width: 3; }
      .overlay { fill: none; pointer-events: all; }
      .dot { fill: #003C71; stroke: #fff; } 
  br
  div.container.col-md-6.col-md-offset-4.shadow.p-3.mb-5.bg-white.rounded(class='errorMessage')
  h1.pagetitle= title
  br
  .container.col-md-6.col-md-offset-4.shadow.p-3.mb-5.bg-white.rounded
      p Create a class on the <a href="/account#CreateClass">settings page</a>.
      label(for="users-classes") Select a Class:
      select(class="form-control" id="users-classes")
        option.disabled.selected.value(id="disabled-option-class" style="display: none;") -- select a class --
        if (courseNames)
          each course in courseNames
            option= course
  //- Grades Sheet
  div(id="grades-sheet" style="display: none;")
      div.stage.shadow
        table.table(id="grades-table")
          thead.thead-dark
            tr
              th Grade Sheet for:
              th(id="sheetsClassName")
              th
                button.btn.btn-success.text-white.float-right(aria-label="Right Align" id="save-grade-col-btn") Save Sheet 
                  i.fa.fa-save(aria-hidden="true")
              th
                button.btn.btn-success.text-white.float-right(aria-label="Right Align" id="add-grade-col-btn") Add Grade Column 
                  i.fa.fa-plus(aria-hidden="true")
          tbody(id="sheet-body")
  br
  br
