extends main

block content
  append head
    script(language='JavaScript' type='text/javascript' src='/scripts/whiteboard.js')
    link(rel='stylesheet' href='/PPTX2HTML/css/font-awesome.min.css')
    link(rel='stylesheet' href='/PPTX2HTML/css/pptx2html.css')
    link(rel='stylesheet' href='/PPTX2HTML/css/nv.d3.min.css')
    script(type='text/javascript' src='/PPTX2HTML/js/pptx2html.js')
    script(type='text/javascript' src='/PPTX2HTML/js/jquery-1.11.3.min.js')
    script(type='text/javascript' src='/PPTX2HTML/js/FileSaver.min.js')
    script(type='text/javascript' src='/PPTX2HTML/js/lz-string.min.js')
    script(type='text/javascript' src='/PPTX2HTML/js/chart/d3.min.js')
    script(type='text/javascript' src='/PPTX2HTML/js/chart/nv.d3.min.js')
  br
  div.container.col-md-6.col-md-offset-4.shadow.p-3.mb-5.bg-white.rounded(class='errorMessage')
  h1.pagetitle= title
  br
  .container.col-md-6.col-md-offset-4.shadow.p-3.mb-5.bg-white.rounded
    label(for="presentations") Select uploaded presentations to view:
    select(class="form-control" id="presentations")
      option.disabled.selected.value(id="disabled-option" style="display: none;") -- select a presentation --
      if (presentationNames)
        each slide in presentationNames
          option= slide
    br
    
    label(for="uploadBtnGroup") Upload New Slides:
    .btn-group.row.offset-md-1(id="uploadBtnGroup")
      .fileUpload.btn.btn-primary.ml-1.float-left(id="choosePPTXButton")
        span
          |  Choose a PPTX file 
          i.fas.fa-desktop(aria-hidden="true")
        input#uploadBtn.upload(type='file' accept='application/vnd.openxmlformats-officedocument.presentationml.presentation')
      button.btn.btn-success#download-reveal-btn.disabled(type='button' disabled="true")
        |  Upload Slides 
        i.fas.fa-upload(aria-hidden="true")
    br
    br
    label(for="openSlidesGroup") View Slides:
    //- Custom checkbox
    label.checktainer
      p.checktainerLabel Open Slides as PDF-Friendly Version?
      input(type="checkbox" id="pdfCheckbox")
      span.checkmark
    .btn-group.row.offset-md-1(id="openSlidesGroup")
      a.btn.btn-primary.text-white.disabled(aria-label="Left Align" href="/presentation" id="openSlidesBtn" target="_blank") Open Slides 
        i.fas.fa-desktop(aria-hidden="true")
      a.btn.btn-success.text-white(aria-label="Right Align" id="pdf-help" data-toggle="modal" data-target="#help-modal") Exporting slides as PDF 
        i.fa.fa-question-circle(aria-hidden="true")
    
    br
    br
  
  #result_block.hidden
    .container.col-md-7.col-md-offset-4.shadow.p-3.mb-5.bg-white.rounded
      .col-md-7
        h3 Uploaded Slides Preview:
        #result

  //- Help modal for saving as pdf
  .modal.fade(tabindex='-1' role='dialog' id="help-modal")
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title How to export Whiteboard Slides as pdf
          button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
        .modal-body
          p You can export your slides as a pdf by checking the "<b>Open Slides as PDF-Friendly Version</b> checkbox and <b>opening your presentation</b>."
          p With the checkbox checked, follow these instructions to export as pdf:
          ol
            li Open the in-browser print dialog (CTRL/CMD+P).
            li Change the <b>Destination</b> setting to <b>Save as PDF</b>.
            li Change the <b>Layout</b> to <b>Landscape</b>.
            li Change the <b>Margins</b> to <b>None</b>.
            li Enable the <b>Background graphics</b> option.
            li Click <b>Save</b>.
          img.img-fluid(src='/images/exportAsPDF.png' alt='Exporting slides as pdf Instructions' style="max-height:250px;")
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close

